* {
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
body {
  background: rgb(255,255,255);
  color: rgb(80,80,80);
  padding: 16px;
}
li {
  margin-left: 24px;
}
.checkmark {
  display: none;
  cursor: pointer;
}
#todo_list ul li:hover .checkmark {
  display: inline-block;
  color: rgb(220,220,220);
}
#todo_list ul li:hover .checkmark.done {
  display: inline-block;
  color: rgb(0,200,0);
}
.checkmark.done {
  display: inline-block;
  color: rgb(0,200,0);
}
.trashbin {
  display: none;
  cursor: pointer;
}
#todo_list ul li:hover .trashbin {
  display: inline-block;
  color: rgb(220,220,220);
}
.edittodo {
  display: none;
}
.todoitem.editmode .edittodo {
  display: inline-block;
}
.todoitem.editmode .todotext {
  display: none;
}
.todoitem {
  cursor: pointer;
}
